<div class="container">
	<h2>Show</h2>

	<h4>Name : </h4>

	<p><%= @book.name %></p> 

	<h4>Description : </h4>

	<p><%= @book.description %></p> 

	<h4>isbn : </h4>

	<p><%= @book.isbn %></p> 

	<%= link_to "Back to Book List" , books_path , :class => "btn btn-primary" %>

</div>



